In [1]:
import pandas as pd

In [3]:
FPKM = pd.read_csv("/Users/csb/Desktop/PartseasonDE/L1r_L3r_L3up.txt", sep='\t') #Trinity ID와 각 샘플의 TMM normallized FPKM 정보
annotation = pd.read_csv("/Users/csb/Desktop/AnnotFPKM/annotation.txt",sep=' ',header=None) #annotation 된 Trinity ID와 accession number

In [4]:
FPKM # 데이터 확인

,Name,logFC,logCPM,PValue,FDR,D3B1,D3B2,D3B3,D3B4,D3L1,...,D3S1,D4B1,D4B2,D4B3,D4B4,D4L1,D4L2,D4L3,D4L4,D4S1
0,TRINITY_DN185026_c3_g2_i4,11.460924,3.828592,6.021415e-20,2.739111e-15,0.00,0.00,5.96,0.00,0.00,...,9.21,0.00,4.27,6.12,0.00,0.00,0.26,31.80,0.00,13.05
1,TRINITY_DN191090_c0_g1_i1,11.424741,3.792775,4.023337e-19,1.220131e-14,33.33,42.12,110.85,94.52,0.00,...,0.78,11.16,67.12,42.92,220.19,0.00,83.39,97.52,294.98,0.35
2,TRINITY_DN142343_c0_g1_i1,5.220271,7.502324,6.614361e-16,1.504420e-11,7.88,31.86,3.50,0.63,9.57,...,0.76,12.18,10.95,28.62,45.49,13.53,24.66,479.27,15.88,4.21
3,TRINITY_DN179282_c6_g1_i8,5.780649,4.832837,1.014341e-15,1.845674e-11,0.63,0.00,10.77,3.89,0.69,...,0.24,1.13,0.00,79.31,3.91,1.49,0.00,61.47,3.67,0.30
4,TRINITY_DN183430_c35_g3_i1,6.567318,4.309391,4.675072e-15,7.088889e-11,1.41,65.03,100.25,74.52,0.48,...,0.07,0.70,54.15,23.95,120.87,1.28,59.73,105.35,333.23,1.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307,TRINITY_DN17325_c0_g1_i1,2.362594,4.650610,3.697591e-04,4.903836e-02,0.66,0.00,0.00,0.00,9.22,...,0.00,0.00,0.00,0.51,0.00,19.55,5.53,44.80,102.63,0.10
308,TRINITY_DN162862_c0_g2_i1,3.631716,2.288440,3.723726e-04,4.924140e-02,0.20,0.00,0.45,1.30,0.13,...,0.39,0.80,0.00,0.54,7.11,1.66,0.00,5.98,4.72,1.52
309,TRINITY_DN162357_c0_g1_i1,2.517373,2.625375,3.730117e-04,4.925433e-02,0.89,8.58,5.50,2.01,1.29,...,1.60,1.93,4.30,3.06,1.42,1.09,13.72,4.67,10.27,2.32
310,TRINITY_DN127023_c0_g1_i1,5.293464,0.470562,3.740979e-04,4.932616e-02,0.62,0.00,0.00,0.00,0.16,...,0.43,0.79,0.00,0.44,0.62,0.00,0.00,3.79,0.00,1.95
311,TRINITY_DN179275_c1_g8_i2,2.262345,3.075122,3.770543e-04,4.942943e-02,2.13,0.00,0.00,2.67,2.81,...,0.96,1.22,3.43,1.18,0.00,2.12,0.57,12.42,5.88,1.05

In [5]:
annotation # 데이터 확인

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,TRINITY_DN153638_c67_g1_i1,17891,Q68S06,PSAA_PANGI,99.733,750,2,0,1,750,1,750,0.000000e+00,1514.0
1,TRINITY_DN189313_c1_g1_i20,17248,A0A1P8AUY4,MDN1_ARATH,49.125,5543,2596,83,1,5462,1,5400,0.000000e+00,4979.0
2,TRINITY_DN191002_c3_g1_i1,16170,Q9SRU2,BIG_ARATH,65.317,5138,1658,40,22,5108,32,5096,0.000000e+00,6596.0
3,TRINITY_DN178183_c51_g2_i1,15693,Q68S16,RPOC2_PANGI,98.414,1387,22,0,1,1387,1,1387,0.000000e+00,2826.0
4,TRINITY_DN181095_c24_g1_i2,15596,Q68RU8,TI214_PANGI,89.498,1933,131,7,1,1875,1,1919,0.000000e+00,3334.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20490,TRINITY_DN164180_c0_g2_i1,297,P51401,RL9B_YEAST,64.583,96,30,2,1,95,74,166,2.970000e-38,129.0
20491,TRINITY_DN42356_c0_g2_i1,297,A5CSZ4,IF2_CLAM3,84.848,99,15,0,1,99,585,683,2.470000e-49,169.0
20492,TRINITY_DN279208_c0_g1_i1,297,Q0U6X7,HSE1_PHANO,83.838,99,16,0,1,99,214,312,1.150000e-51,174.0
20493,TRINITY_DN266648_c0_g1_i1,297,P40468,TAO3_YEAST,37.234,94,57,1,5,98,1998,2089,1.810000e-10,59.3
20494,TRINITY_DN220593_c0_g1_i1,297,Q4W9C7,ABCG_ASPFU,46.392,97,52,0,1,97,1103,1199,4.660000e-24,97.8

In [6]:
FPKM_cutoff1 = FPKM[(FPKM['D3B1'] >= 1) | (FPKM['D3B2'] >= 1) | (FPKM['D3B3'] >= 1) | (FPKM['D3B4'] >= 1) | (FPKM['D3L1'] >= 1) | (FPKM['D3L2'] >= 1) | (FPKM['D3L3'] >= 1) | (FPKM['D3L4'] >= 1) | (FPKM['D3S1'] >= 1) | (FPKM['D4B1'] >= 1) | (FPKM['D4B2'] >= 1) | (FPKM['D4B3'] >= 1) | (FPKM['D4B4'] >= 1) | (FPKM['D4L1'] >= 1) | (FPKM['D4L2'] >= 1) | (FPKM['D4L3'] >= 1) | (FPKM['D4L4'] >= 1) | (FPKM['D4S1'] >= 1)]
FPKM = FPKM_cutoff1
FPKM

,Name,logFC,logCPM,PValue,FDR,D3B1,D3B2,D3B3,D3B4,D3L1,...,D3S1,D4B1,D4B2,D4B3,D4B4,D4L1,D4L2,D4L3,D4L4,D4S1
0,TRINITY_DN185026_c3_g2_i4,11.460924,3.828592,6.021415e-20,2.739111e-15,0.00,0.00,5.96,0.00,0.00,...,9.21,0.00,4.27,6.12,0.00,0.00,0.26,31.80,0.00,13.05
1,TRINITY_DN191090_c0_g1_i1,11.424741,3.792775,4.023337e-19,1.220131e-14,33.33,42.12,110.85,94.52,0.00,...,0.78,11.16,67.12,42.92,220.19,0.00,83.39,97.52,294.98,0.35
2,TRINITY_DN142343_c0_g1_i1,5.220271,7.502324,6.614361e-16,1.504420e-11,7.88,31.86,3.50,0.63,9.57,...,0.76,12.18,10.95,28.62,45.49,13.53,24.66,479.27,15.88,4.21
3,TRINITY_DN179282_c6_g1_i8,5.780649,4.832837,1.014341e-15,1.845674e-11,0.63,0.00,10.77,3.89,0.69,...,0.24,1.13,0.00,79.31,3.91,1.49,0.00,61.47,3.67,0.30
4,TRINITY_DN183430_c35_g3_i1,6.567318,4.309391,4.675072e-15,7.088889e-11,1.41,65.03,100.25,74.52,0.48,...,0.07,0.70,54.15,23.95,120.87,1.28,59.73,105.35,333.23,1.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307,TRINITY_DN17325_c0_g1_i1,2.362594,4.650610,3.697591e-04,4.903836e-02,0.66,0.00,0.00,0.00,9.22,...,0.00,0.00,0.00,0.51,0.00,19.55,5.53,44.80,102.63,0.10
308,TRINITY_DN162862_c0_g2_i1,3.631716,2.288440,3.723726e-04,4.924140e-02,0.20,0.00,0.45,1.30,0.13,...,0.39,0.80,0.00,0.54,7.11,1.66,0.00,5.98,4.72,1.52
309,TRINITY_DN162357_c0_g1_i1,2.517373,2.625375,3.730117e-04,4.925433e-02,0.89,8.58,5.50,2.01,1.29,...,1.60,1.93,4.30,3.06,1.42,1.09,13.72,4.67,10.27,2.32
310,TRINITY_DN127023_c0_g1_i1,5.293464,0.470562,3.740979e-04,4.932616e-02,0.62,0.00,0.00,0.00,0.16,...,0.43,0.79,0.00,0.44,0.62,0.00,0.00,3.79,0.00,1.95
311,TRINITY_DN179275_c1_g8_i2,2.262345,3.075122,3.770543e-04,4.942943e-02,2.13,0.00,0.00,2.67,2.81,...,0.96,1.22,3.43,1.18,0.00,2.12,0.57,12.42,5.88,1.05

In [7]:
Name = annotation[0] # 이름만 추출

In [8]:
Name # 추출 데이터 확인

0        TRINITY_DN153638_c67_g1_i1
1        TRINITY_DN189313_c1_g1_i20
2         TRINITY_DN191002_c3_g1_i1
3        TRINITY_DN178183_c51_g2_i1
4        TRINITY_DN181095_c24_g1_i2
                    ...
20490     TRINITY_DN164180_c0_g2_i1
20491      TRINITY_DN42356_c0_g2_i1
20492     TRINITY_DN279208_c0_g1_i1
20493     TRINITY_DN266648_c0_g1_i1
20494     TRINITY_DN220593_c0_g1_i1
Name: 0, Length: 20495, dtype: object

In [9]:
# FPKM 값 넣을 column 만들어주기
annotation["logFC"]=''
annotation["FDR"]=''
annotation["D3B1"]=''
annotation["D3B2"]=''
annotation["D3B3"]=''
annotation["D3B4"]=''
annotation["D3L1"]=''
annotation["D3L2"]=''
annotation["D3L3"]=''
annotation["D3L4"]=''
annotation["D3S1"]=''
annotation["D4B1"]=''
annotation["D4B2"]=''
annotation["D4B3"]=''
annotation["D4B4"]=''
annotation["D4L1"]=''
annotation["D4L2"]=''
annotation["D4L3"]=''
annotation["D4L4"]=''
annotation["D4S1"]=''

In [10]:
annotation # column 만들어졌는지 확인

,0,1,2,3,4,5,6,7,8,9,...,D3S1,D4B1,D4B2,D4B3,D4B4,D4L1,D4L2,D4L3,D4L4,D4S1
0,TRINITY_DN153638_c67_g1_i1,17891,Q68S06,PSAA_PANGI,99.733,750,2,0,1,750,...,,,,,,,,,,
1,TRINITY_DN189313_c1_g1_i20,17248,A0A1P8AUY4,MDN1_ARATH,49.125,5543,2596,83,1,5462,...,,,,,,,,,,
2,TRINITY_DN191002_c3_g1_i1,16170,Q9SRU2,BIG_ARATH,65.317,5138,1658,40,22,5108,...,,,,,,,,,,
3,TRINITY_DN178183_c51_g2_i1,15693,Q68S16,RPOC2_PANGI,98.414,1387,22,0,1,1387,...,,,,,,,,,,
4,TRINITY_DN181095_c24_g1_i2,15596,Q68RU8,TI214_PANGI,89.498,1933,131,7,1,1875,...,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20490,TRINITY_DN164180_c0_g2_i1,297,P51401,RL9B_YEAST,64.583,96,30,2,1,95,...,,,,,,,,,,
20491,TRINITY_DN42356_c0_g2_i1,297,A5CSZ4,IF2_CLAM3,84.848,99,15,0,1,99,...,,,,,,,,,,
20492,TRINITY_DN279208_c0_g1_i1,297,Q0U6X7,HSE1_PHANO,83.838,99,16,0,1,99,...,,,,,,,,,,
20493,TRINITY_DN266648_c0_g1_i1,297,P40468,TAO3_YEAST,37.234,94,57,1,5,98,...,,,,,,,,,,
20494,TRINITY_DN220593_c0_g1_i1,297,Q4W9C7,ABCG_ASPFU,46.392,97,52,0,1,97,...,,,,,,,,,,

In [11]:
# annotation name이 FPKM name 안에 있으면 그 name과 일치하는 TMM normalized FPKM 값을 annotation column에 넣어줌
a=1 # 인풋값과 아웃풋 값의 줄 수가 같은지 확인용
for i in Name:
    if (FPKM['Name']==i).any():
        annotation.loc[annotation[0] == i, "logFC"] = float(FPKM[FPKM.Name==i]['logFC'])
        annotation.loc[annotation[0] == i, "FDR"] = float(FPKM[FPKM.Name==i]['FDR'])
        annotation.loc[annotation[0] == i, "D3B1"] = float(FPKM[FPKM.Name==i]['D3B1'])
        annotation.loc[annotation[0] == i, "D3B2"] = float(FPKM[FPKM.Name==i]['D3B2'])
        annotation.loc[annotation[0] == i, "D3B3"] = float(FPKM[FPKM.Name==i]['D3B3'])
        annotation.loc[annotation[0] == i, "D3B4"] = float(FPKM[FPKM.Name==i]['D3B4'])
        annotation.loc[annotation[0] == i, "D3L1"] = float(FPKM[FPKM.Name==i]['D3L1'])
        annotation.loc[annotation[0] == i, "D3L2"] = float(FPKM[FPKM.Name==i]['D3L2'])
        annotation.loc[annotation[0] == i, "D3L3"] = float(FPKM[FPKM.Name==i]['D3L3'])
        annotation.loc[annotation[0] == i, "D3L4"] = float(FPKM[FPKM.Name==i]['D3L4'])
        annotation.loc[annotation[0] == i, "D3S1"] = float(FPKM[FPKM.Name==i]['D3S1'])
        annotation.loc[annotation[0] == i, "D4B1"] = float(FPKM[FPKM.Name==i]['D4B1'])
        annotation.loc[annotation[0] == i, "D4B2"] = float(FPKM[FPKM.Name==i]['D4B2'])
        annotation.loc[annotation[0] == i, "D4B3"] = float(FPKM[FPKM.Name==i]['D4B3'])
        annotation.loc[annotation[0] == i, "D4B4"] = float(FPKM[FPKM.Name==i]['D4B4'])
        annotation.loc[annotation[0] == i, "D4L1"] = float(FPKM[FPKM.Name==i]['D4L1'])
        annotation.loc[annotation[0] == i, "D4L2"] = float(FPKM[FPKM.Name==i]['D4L2'])
        annotation.loc[annotation[0] == i, "D4L3"] = float(FPKM[FPKM.Name==i]['D4L3'])
        annotation.loc[annotation[0] == i, "D4L4"] = float(FPKM[FPKM.Name==i]['D4L4'])
        annotation.loc[annotation[0] == i, "D4S1"] = float(FPKM[FPKM.Name==i]['D4S1'])
        print(a)
        a+=1
    else:
        idx = annotation[annotation[0] == i].index
        annotation.drop(idx , inplace=True)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81

In [12]:
annotation # 제대로 되었는지 확인

,0,1,2,3,4,5,6,7,8,9,...,D3S1,D4B1,D4B2,D4B3,D4B4,D4L1,D4L2,D4L3,D4L4,D4S1
261,TRINITY_DN173179_c0_g1_i10,5925,Q8LEV3,Y2060_ARATH,65.354,381,129,2,1,378,...,0.0,0.0,0.0,0.0,1.42,0.0,8.85,3.88,0.05,0.0
276,TRINITY_DN172638_c0_g1_i2,5859,F4IVU1,ARC2B_ARATH,47.059,136,71,1,1,135,...,3.95,6.07,0.0,5.51,1.24,0.0,0.0,1.06,0.0,1.32
1379,TRINITY_DN189227_c0_g2_i2,3979,F4IGL2,KN7E_ARATH,55.104,960,322,19,1,949,...,12.12,4.82,0.33,10.36,5.46,1.32,2.53,25.55,6.52,4.37
1649,TRINITY_DN187230_c1_g1_i3,3779,Q9SHF2,AGO3_ARATH,47.953,928,446,19,162,1066,...,9.02,1.84,10.36,6.64,8.12,2.01,17.18,7.36,6.23,9.15
1728,TRINITY_DN188577_c0_g6_i5,3728,Q9CAC4,MYOB2_ARATH,47.036,506,190,18,471,968,...,0.85,1.1,0.0,4.65,0.74,0.33,0.41,2.28,0.42,1.07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14288,TRINITY_DN148750_c0_g1_i2,719,Q9LPK5,CML44_ARATH,44.805,154,80,3,31,183,...,0.05,0.0,0.0,0.0,0.0,1.53,3.24,7.46,9.85,0.0
14399,TRINITY_DN79994_c0_g2_i1,702,P04284,PR06_SOLLC,64.417,163,54,3,5,167,...,21.96,1.06,0.6,0.0,11.3,10.78,25.95,223.84,350.54,2.37
14755,TRINITY_DN180709_c4_g1_i2,650,Q8L9S3,GRXC6_ARATH,64.234,137,43,3,7,137,...,1.32,2.69,7.75,10.84,34.13,1.02,2.93,11.23,4.49,0.42
15346,TRINITY_DN156733_c1_g3_i1,584,Q7XUN6,SIT2_ORYSJ,65.803,193,66,0,2,194,...,1.93,3.93,4.31,5.33,14.45,1.69,16.09,8.33,17.12,1.59
17878,TRINITY_DN191090_c0_g1_i1,394,Q3BAI2,YCX91_PHAAO,66.667,48,16,0,1,48,...,0.78,11.16,67.12,42.92,220.19,0.0,83.39,97.52,294.98,0.35

In [13]:
annotation.isnull().sum()

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
logFC    0
FDR      0
D3B1     0
D3B2     0
D3B3     0
D3B4     0
D3L1     0
D3L2     0
D3L3     0
D3L4     0
D3S1     0
D4B1     0
D4B2     0
D4B3     0
D4B4     0
D4L1     0
D4L2     0
D4L3     0
D4L4     0
D4S1     0
dtype: int64

In [20]:
annotation.to_csv('/Users/csb/Desktop/Project/황칠나무/DEGs/PartseasonDE/B1:L4/B1r_L4r_L4up_annotation.txt', sep=' ',index=False) # csv format으로 만들어 줌

NameError: name 'annotation' is not defined

In [25]:
Data = pd.read_csv("/Users/csb/Desktop/Project/황칠나무/DEGs/PartseasonDE/B2:L4/B2r_L4r_L4up_annotation.txt", sep=' ')
Data

,0,1,2,3,4,5,6,7,8,9,...,D3S1,D4B1,D4B2,D4B3,D4B4,D4L1,D4L2,D4L3,D4L4,D4S1
0,TRINITY_DN153638_c67_g1_i1,17891,Q68S06,PSAA_PANGI,99.733,750,2,0,1,750,...,1563.46,1041.08,1486.12,2102.99,1650.08,10284.54,11955.59,6490.86,12142.55,1824.82
1,TRINITY_DN181095_c24_g1_i2,15596,Q68RU8,TI214_PANGI,89.498,1933,131,7,1,1875,...,306.46,278.93,132.13,362.65,151.74,1412.44,464.44,732.85,479.34,267.49
2,TRINITY_DN182915_c125_g2_i2,15186,Q68RZ7,ACCD_PANGI,97.741,487,11,0,18,504,...,1818.33,1070.71,1093.60,1930.12,1532.35,8423.24,3615.07,3244.03,7121.54,1338.24
3,TRINITY_DN190998_c266_g1_i1,12866,Q68S21,ATPA_PANGI,98.225,507,9,0,1,507,...,1572.31,847.61,857.15,1356.50,1423.90,9107.26,3402.88,2638.27,6830.28,1321.02
4,TRINITY_DN191025_c36_g1_i1,11566,Q68RZ9,ATPB_PANGI,99.398,498,3,0,1,498,...,1165.39,518.78,588.14,1241.10,656.41,6712.80,2004.18,2036.80,5933.75,827.91
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
557,TRINITY_DN185159_c11_g1_i1,359,Q8W493,FNRL2_ARATH,86.555,119,16,0,1,119,...,35.40,13.34,29.23,45.14,16.48,510.44,168.28,416.16,395.68,38.31
558,TRINITY_DN71547_c0_g1_i1,354,P17598,CATA1_GOSHI,93.162,117,8,0,1,117,...,3.23,0.00,1.19,0.00,0.00,114.55,198.78,189.83,191.99,6.88
559,TRINITY_DN5858_c0_g1_i1,353,B2CPI5,PHT13_PETHY,87.931,116,14,0,2,117,...,0.68,3.64,0.00,3.49,11.17,17.24,1.20,17.63,41.30,0.19
560,TRINITY_DN31096_c0_g1_i1,344,P32290,CATA_VIGRR,94.366,71,4,0,39,109,...,3.66,0.00,0.00,0.00,0.00,78.17,103.88,71.83,120.28,5.04
561,TRINITY_DN170700_c0_g1_i1,304,Q9SA56,PSAD2_ARATH,78.351,97,16,2,5,100,...,19.49,13.83,15.19,31.87,16.21,163.75,59.96,98.15,164.43,12.22

In [8]:
d = Data[['2','D3B1','D3B2','D3B3','D3B4','D3L1','D3L2','D3L3','D3L4','D3S1','D4B1','D4B2','D4B3','D4B4','D4L1','D4L2','D4L3','D4L4','D4S1']]
d

,2,D3B1,D3B2,D3B3,D3B4,D3L1,D3L2,D3L3,D3L4,D3S1,D4B1,D4B2,D4B3,D4B4,D4L1,D4L2,D4L3,D4L4,D4S1
0,Q9SB51,64.12,69.46,1095.07,279.09,26.87,28.04,24.03,63.34,384.07,136.38,56.14,617.42,213.16,27.14,28.38,23.65,45.27,143.77
1,J3TRD1,10.48,0.00,0.70,0.59,0.10,0.36,0.00,0.00,0.00,0.01,0.26,0.00,0.00,0.16,0.00,0.00,0.00,0.02
2,P98204,1.00,1.21,0.00,0.91,0.30,0.53,0.10,0.45,2.28,1.09,0.86,2.01,1.78,0.25,0.21,0.13,0.14,2.07
3,Q8L7E9,4.85,2.56,0.50,3.90,0.67,0.95,0.57,1.49,3.87,7.32,1.07,5.17,3.33,1.14,1.06,0.81,0.00,5.72
4,Q700W2,4.65,0.87,1.20,0.35,0.81,0.41,0.16,0.18,2.46,6.37,1.89,3.78,1.09,1.40,0.59,0.59,0.31,6.23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1095,Q9LNE3,2.06,0.00,11.35,0.00,0.19,0.00,0.00,0.00,0.49,1.34,0.00,1.01,5.61,0.00,0.00,0.00,0.00,0.30
1096,Q6ID18,0.85,0.00,25.32,0.00,0.00,0.00,0.00,0.00,7.25,3.16,0.00,10.21,0.00,0.00,0.00,0.00,0.00,1.99
1097,Q84RL7,26.14,51.64,74.07,66.45,4.37,3.79,3.27,15.94,2.00,22.19,9.82,59.11,61.98,6.43,1.24,1.88,8.53,5.02
1098,P14166,1.16,2.81,0.00,1.87,0.00,0.00,0.00,0.00,0.20,3.57,0.00,0.52,10.21,0.00,0.00,0.00,0.00,0.51
1099,Q2HJ47,0.52,0.00,2.76,4.00,0.00,0.00,0.39,0.00,0.54,1.60,0.00,4.46,4.68,0.70,0.00,0.00,0.00,1.31

In [9]:
d.to_csv('/Users/csb/Desktop/B4L2_B4up.txt', sep=' ',index=False,header=None)

In [63]:
import pandas as pd
n1='B4'
n2='L4'
up='B4'
path = f'/Users/csb/Desktop/Project/황칠 Transcriptome/DEGs/PartseasonDE/{n1}:{n2}/{n1}r_{n2}r_{up}up_annotation.txt'
savepath = f'/Users/csb/Desktop/Project/황칠 Transcriptome/up DEGs/{n1}{n2}_{up}up.txt'
Data = pd.read_csv(path, sep=' ')
k = Data['2']
k.to_csv(savepath, sep=' ',index=False,header=None)
k

0      Q9SB51
1      Q7X9V2
2      Q9LUI2
3      F4IIM1
4      Q9FY79
        ...
257    Q76FS3
258    Q9LSP9
259    Q9LJI2
260    Q8LL87
261    A9P822
Name: 2, Length: 262, dtype: object